<h1>Ticket Details</h1>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Assigned User:</strong>
  <%= @ticket.assigned_user.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status.name.capitalize %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @ticket.due_date %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @ticket.progress %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
